
@media (max-width: 1000px){
    .furnished-space-wrapper{
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .text:nth-child(odd){
        padding: 0;
    }
    .navbar ul li{
        padding-left: 0;
    }
    .furniture-holder{
        padding: 0px;
    }

    .footer>div>div>div{
        margin: auto;
    }
    .moving-to{
        width: fit-content;
    }
    .furniture-business-wrapper {
        flex-direction: column-reverse;
    }

    .review-cards,
    .companies,
    .collaboration-holder,
    .never-assemble-wrapper,
    .bestseller-cards,
    .garage-sale-wrapper,
    .room-cards
    {
        align-items: center;
        flex-direction: column;
    }
    .curated-wrapper{
        flex-direction: column-reverse;
        align-items: center;

    }
    .collaboration-text{
        margin-left: auto;
        min-height: 390px;
        padding: 50px;
    }
    .collaboration-text button {
        margin-bottom: 10px;
    }
    .moving-to h2 {
        padding: 0px;
        margin-bottom: 15px;
    }
    .navbar{
        justify-content: center;
    }
    .garage-sale-img,
    .never-assemble-img{
        margin: 0px;
    }
}


@media (max-width:600px){
    .keeping-furniture h2{
        max-width: 266px;
    }
    .curated-text p,
    .text p,
    .keeping-furniture p,
    .text h2{
        max-width: 200px;
    }
    .moving-to{
        width: 300px;
    }
    .navbar{
        flex-direction: column;
    }
    .curated-text h1{
        font-size: 32px;
    }
    .navbar>*{
        margin-bottom: 50px;
    }

    .moving-to h2{
        font-size: 25px;
    }
}